<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ListAllContactsServlet</display-name>
		<servlet-name>ListAllContactsServlet</servlet-name>
		<servlet-class>com.nj.addressbook.servlet.ListAllContactsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListAllContactsServlet</servlet-name>
		<url-pattern>/ListAllContactsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddNewContactServlet</display-name>
		<servlet-name>AddNewContactServlet</servlet-name>
		<servlet-class>com.nj.addressbook.servlet.AddNewContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNewContactServlet</servlet-name>
		<url-pattern>/AddNewContactServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewContactServlet</display-name>
		<servlet-name>ViewContactServlet</servlet-name>
		<servlet-class>com.nj.addressbook.servlet.ViewContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewContactServlet</servlet-name>
		<url-pattern>/ViewContactServlet</url-pattern>
	</servlet-mapping>
</web-app>